.cover__text {
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media all and (max-width: 1024px) {
  .cover__text {
    width: 50%;
  }
}
