.place {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: fit-content(152px) fit-content(460px);
  gap: 48px 40px;
}

@media all and (max-width: 1024px) {
  .place {
    grid-template-rows: fit-content(152px) fit-content(440px);
    gap: 48px 32px;
  }
}

@media all and (max-width: 768px) {
  .place {
    padding-bottom: 72px;
    grid-template-rows: fit-content(92px) fit-content(340px);
    gap: 48px 28px;
  }
}

@media all and (max-width: 650px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: fit-content(152px) fit-content(460px);
    gap: 0 0;
  }
}

@media all and (max-width: 420px) {
  .place {
    padding-bottom: 50px;
  }
}
