.intro__title {
  font-weight: 900;
  font-size: 54px;
  padding-bottom: 40px;
}

@media all and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    width: 60%;
  }
}

@media all and (max-width: 381px) {
  .intro__title {
    width: 80%;
  }
}
